.header{
    height:100px;
    background-color:aquamarine;
}

.section-left{
    height:500px;
    background-color: yellowgreen;
    width:30%;
}

.section-right{
    height:500px;
    background-color: coral;
    width:70%;
    
}

.left{
    float: left;
}

.footer{
    height:100px;
    background-color: silver;
    clear:both;
}